Package: mrv-ctl
Version: 3.4.3
Section: utils
Priority: optional
Architecture: all
Depends: python3 (>= 3.10), python3-gi, gir1.2-gtk-3.0, gir1.2-ayatanaappindicator3-0.1, acpi-call-dkms
Maintainer: ss12wzh <313742508+ss12wzh@users.noreply.github.com>
Homepage: https://github.com/ss12wzh/mechrevo-linux-control
Description: 机械革命 Linux 控制台 (40/50 系游戏本)
 对标 Windows 版 L-Mechrevo 的开源控制台:
 性能模式、GPU 功耗解锁(Dynamic Boost)、键盘 RGB、
 电池限充、独显直连、托盘与悬浮窗。
 支持 Uniwill 准系统机械革命游戏本。
